/.direnv
/safe
/stuff
/data
/volumes
/result

/env/**/*.env

node_modules

.ipynb_checkpoints

/.tests
__pycache__

.env
.venv/
venv/
pool_data_fetcher/target/
jwt/
rust_backend/target/
jwt/
/config.toml